html,
body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: dmfont;
    src: url('font.otf');
}

@font-face {
    font-family: lijstfont;
    src: url('OCRAEXT.ttf');
}


/* FANCY SCROLLBARS
 * ------------------
 */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px silver;
}


/* Centreren content
 * --------------------
 */

.margin-top100 {
    margin-top: 100px;
}

.compact {
    border-radius: 25px;
    background-color: rgba(240, 240, 240, 0.7);
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
    -moz-transition: all 0.5s ease-in;
    /* WebKit */
    -webkit-transition: all 0.5s ease-in;
    /* Opera */
    -o-transition: all 0.5s ease-in;
    /* Standard */
    transition: all 0.5s ease-in;
}

@media (min-width: 768px) {
    .compact {
        border-radius: 25px;
        max-width: 85%;
        margin: 0 auto -moz-transition: all 0.5s ease-in;
        /* WebKit */
        -webkit-transition: all 0.5s ease-in;
        /* Opera */
        -o-transition: all 0.5s ease-in;
        /* Standard */
        transition: all 0.5s ease-in;
    }
}

@media (min-width: 1400px) {
    .compact {
        border-radius: 25px;
        max-width: 70%;
        margin: 0 auto -moz-transition: all 0.5s ease-in;
        /* WebKit */
        -webkit-transition: all 0.5s ease-in;
        /* Opera */
        -o-transition: all 0.5s ease-in;
        /* Standard */
        transition: all 0.5s ease-in;
    }
}

@media (min-width: 1700px) {
    .compact {
        border-radius: 25px;
        max-width: 55%;
        margin: 0 auto -moz-transition: all 0.5s ease-in;
        /* WebKit */
        -webkit-transition: all 0.5s ease-in;
        /* Opera */
        -o-transition: all 0.5s ease-in;
        /* Standard */
        transition: all 0.5s ease-in;
    }
}

.compact-push-down {
    margin-top: 40px !important;
}

.default-font {
    font-family: lijstfont, "Century Gothic", "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
    font-size: 25px;
    color: black;
}

.homeFont {
    font-family: dmfont, "Century Gothic", "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
    font-size: 100px;
    font-size-adjust: auto;
    color: white;
    text-shadow: 2px 2px #000;
    text-align: center
}

@media (max-width: 1200px) {
    .homeFont {
        font-size: 10vw;
    }
}

.absContainer {
    position: absolute;
    height: 300px;
    width: 100%;
}

li {
    list-style: none;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    padding: 20px;
    margin-right: 10px;
}

#banner_area {
    min-width: 100%;
}

#banner_area img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

#banner_area img:first-child {
    display: block;
}

.slideimg {
    width: 100%;
    height: 100%
}

.DM {
    color: #35937E !important;
}

.centerContainer {
    width: 100%;
}

.center {
    width: 30%;
    display: table;
    margin: 0px auto;
}

.linklogo {
    width: 20%;
    height: 20%;
}

.dmlogo {
    min-height: 300px;
    min-width: 300px;
    width: 35vw;
    height: auto;
}

.loginPass {
    width: 400px;
    font-family: lijstfont;
    font-size: 40px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.loginButton {
    font-family: lijstfont;
    font-size: 40px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}

.loginButton:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}