@import 'src/styles/_variables.scss';

html,
body {
    height: 100%;
}

body {
    background: #000;
    color: #fff;
    font-family: 'Knockout';
}

.container-fluid {
    height: 100%;

    .page-container {
        height: 100%;
        margin: 0 -15px;

        .page {
            height: 100%;
            font-size: 4rem;
            text-align: center;

            &.page-center {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &.page-fade {
                background-image: -moz-linear-gradient(top, #000000 0%, #000000 80%, $green 100%);
                background-image: -webkit-linear-gradient(top, #000000 0%, #000000 80%, $green 100%);
                background-image: linear-gradient(to bottom, #000000 0%, #000000 80%, $green 100%);
                padding-bottom: 30%;
            }

            .page-icon {
                position: absolute;
                top: 20px;
                right: 10px;
                width: 20%;
                height: 20%;
                background-image: url(/assets/images/logo.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right top;
            }

            form {
                width: 100%;

                input {
                    border: none;
                    background-color: transparent;
                    color: white;
                    font-family: 'Knockout';
                    border-bottom: 2px solid $green;
                    outline: none;
                    line-height: 10px;
                }
            }
        }
    }
}